h1{
    color: steelblue;
}

.cadre-login{
    margin: auto;
    width: 30%;
}

.mt15-perso{
    margin: 15rem;
}

.my-shadow{
    box-shadow: 0 19px 40px rgba(0, 0, 0, 0.30) !important;
}

.my-card-header{
    background-color: #AA66CC !important;
    color: white;
    text-align: center;
    border-radius: 5px !important;
}

h4{
    font-size: 1em !important;
    font-weight: 500 !important;
}